#container {
    width: 85vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

#assetContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.assetCard {
    width: 275px;
    height: 175px;
    margin: 32px 16px 16px;
}

.assetBadge {
    width: 100%;
    margin-top: 48px;
}

.assetPrice {
    color: gray;
    font-weight: normal;
}

#datePickerContainer {
    display: flex;
    flex-direction: row;
    margin-top: 48px;
}

#monthSelector {
    flex: 1;
}

#durationSelector {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

#graphContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dataContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    flex-direction: column;
    border-top: thin solid gray;
    border-bottom: thin solid gray;
}

#menu {
    height: 250px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 128px;
    margin-right: 128px;
}